<form class="inline " action="/" method="POST">
  <button type="submit" class=" items-center gap-2 bg-red-600 hover:bg-red-700 text-white px-4 py-3 rounded-lg text-sm font-semibold transition  ">Add to Favourite</button>
  <input type="hidden" name="id" value="<%= home._id %>">
</form>